{% extends "base.html" %}

{% block content %}
    <div class="position-absolute start-50 top-50 translate-middle w-50 shadow p-3 main-container">
        <h2 class="h2 mb-3">Novo arquivo de ponto</h2>
        <p><strong>Última atualização:</strong> {{ultimo_ponto.data}}</p>
        <form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
            {{form}}
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <a class="btn btn-secondary" href="{% url 'index' %}">Voltar</a>
            </div>
        </form>
    </div>
{% endblock %}