{% extends "base.html" %}

{% block content %}

<div class="container w-50 mt-5 results mb-5 shadow p-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <th colspan="7">Funcionário: {{nome}}</th>
            </tr>
            <tr>
                <th class="text-center">Marcar</th>
                <th class="text-center">Data</th>
                <th class="text-center" colspan="4">Hora</th>
                <th class="text-center">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for data in resultado %}
            <tr id="row-{{forloop.counter}}">
                <td align="center"><input id="check-{{forloop.counter}}" class="check" type="checkbox"></input></td>
                {% for item in data %}
                    <td class="text-center">{{item}}</td>
                {% endfor %}
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <a class="btn btn-secondary" href="{% url 'index' %}">Voltar</a>
    </div>
</div>

<script>
    $('.check').change(function(){
        if(this.checked){
            $('#row-' + $(this).attr('id').split('-')[1]).css('background-color', '#bbbbff')
        }else{
            $('#row-' + $(this).attr('id').split('-')[1]).css('background-color', '#fff')
        }
    })
</script>

{% endblock %}