.azulcalcinha{
    background-color: rgb(214, 233, 248);
}

.mt-10{
    margin-top: 10rem;
<<<<<<< HEAD
}

@media(max-width:768px){
    :root{
        font-size: 13px;;
    }
    .main-container{
        width: 100% !important;

    }
    .results{
        width: 100% !important;
    }
=======
>>>>>>> local
}